.title {
    color: #0D085C,'''primary'''
}

.title {
    color: #3C8CCD,'''secondary'''
}

.title {
    color: #A0B1BE,'''accent'''
}

.title {
    color: #F44336, '''error'''
}

.title {
    color: #3d8ecc, '''info'''
}

.title {
    color: #4CAF50, '''success'''
}


.title {
    color: #ea6d07, '''warning'''
}